@using EcommerceApp.Models;
@{
    List<Category> allCategories = null;
    allCategories = ViewBag.Categories;
    List<SubCategory> allSubCategories = ViewBag.SubCategories;
    List<Product> allProducts = ViewBag.Product;
}


@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<script>
    document.getElementById("SliderDiv").innerHTML = "";
    document.getElementById("Clear").innerHTML = "";
   
   
</script>

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @if (allCategories != null)
            {
                foreach (var catagories in allCategories)
                {

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#@catagories.CategoryId
                                   ">
                                    <span class=" badge pull-right">
                                    <i class="fa fa-plus"></i></span>
                                    @catagories.CategoryName
                                </a>
                            </h4>
                        </div>
                        <div id="@catagories.CategoryId" class="panel-collapse collapse">
                            @foreach (var allSubCategory in allSubCategories)
                            {
                                if (catagories.CategoryId == allSubCategory.CategoryId)
                                {
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="@Url.Action("Category", "Product", new { id = allSubCategory.SubCategoryId })">@allSubCategory.SubCategoryName </a></li>

                                        </ul>
                                    </div>
                                }

                            }

                        </div>
                    </div>

                }
            }

        </div><!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
                    <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
                    <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
                    <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                    <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                    <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                    <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
                </ul>
            </div>
        </div><!--/brands_products-->

        

     

    </div>
</div>
<div class="features_items">
    <!--features_items-->
    


    @if (allProducts != null)
    {
        bool flag = true;
        foreach (var products in allProducts)
        {
            if (flag)
            {
  if (allSubCategories!=null)
            {
                foreach (var allSubCategory in allSubCategories)
                {
                    if (products.SubCategoryId==allSubCategory.SubCategoryId)
                    {
                        <h2 class="title text-center">@allSubCategory.SubCategoryName</h2>
                        flag = false;
                        break;
                    }
                    
                }
            }
            }
            
           
            


                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(products.ProductImage))" alt="@products.ProductName" width="253" height="235" />
                                <h2>$@products.Price</h2>
                                <p>@products.ProductName</p>
                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <h2>
                                        $@Math.Round(Convert.ToDecimal(products.Price), 2)
                                    </h2>
                                    <p>@products.ProductName</p>
                                    <a href="@Url.Action("ProductDetails","Product", new {id=products.ProductId})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                                    <a href="@Url.Action("BuyProduct","Cart",new {id=products.ProductId})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            
        }
    }





</div><!--features_items-->
<script src="~/Content/User/js/jquery.js"></script>
<script src="~/Content/User/js/bootstrap.min.js"></script>
<script src="~/Content/User/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/User/js/price-range.js"></script>
<script src="~/Content/User/js/jquery.prettyPhoto.js"></script>
<script src="~/Content/User/js/main.js"></script>